@page "/fetchdata"
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (Activities == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            @*<tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>*@
            <tr>
                <th>Description</th>
                <th>City</th>
                <th>Venue</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }*@
            @foreach(var activity in Activities)
            {
                <tr>
                    <td>@activity.Description</td>
                    <td>@activity.City</td>
                    <td>@activity.Venue</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    //private WeatherForecast[] forecasts;
    private List<Activity> Activities;

    protected override async Task OnInitializedAsync()
    {
        //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
        Activities = await Http.GetFromJsonAsync<List<Activity>>("api/activities");
    }

    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
